# ============================================================
#  FICHIER DE CONFIGURATION DES VARIABLES D'ENVIRONNEMENT
#  Renommez ce fichier en `.env` pour activer la configuration.
# ============================================================

# Configuration Base de données
DB_HOST=localhost
DB_NAME=bellevue_db
DB_USER=root
DB_PASS=

# Configuration API Stripe (Paiement USD par Carte)
STRIPE_SECRET_KEY=sk_test_51...

# Configuration API Shwary (Paiement Mobile Money DRC - M-Pesa, Orange, Airtel)
SHWARY_MERCHANT_ID=d909df62-f14f-461e-acd1-61ced0484915
SHWARY_MERCHANT_KEY=shwary_24e77efe-8678-40fc-921e-f524b110b25a
